
body {
  background-color: #FFFFFF; /* 初期はライトモード（白） */
  color: #000000; /* ← この文字色は固定*/
  transition: background-color 0.5s ease;
}
#toggleModeBtn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

h1 {
   background-color: rgb(60, 49, 131) ;
   font-family: serif;
   font-size: 40px;
   text-align: left;
   color: rgb(255, 255, 255);
}
#sp {
  display: none;
}


h2{
   background-color:rgba(200, 252, 141, 0.863) ;
   
   font-size: 25px;
   text-align: left;
   
}
h3{
  background-color:rgba(200, 252, 141, 0.863) ;
   font-size: 25px;
   text-align: left;
   
}
h4{
  background-color:rgba(200, 252, 141, 0.863) ;
   font-size: 25px;
   text-align: left;
   
}
h5{
   font-size: 25px;
   text-align: left;
   color: rgb(59, 71, 59);  
}

   
    
h6{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 20px;
   color:  rgb(255, 0, 0);

 } 
 h7{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  color:rgb(255, 0, 0);


} 
   
 h8{
  font-size: 20px;
   color: blue;
   text-align: end;
 }

 h9{
   font-size: 20px;
   color: black;
   text-align: end;
 }


h10{
   font-size: 20px;
   color: blue;
 }

 
 h11{
   font-size: 20px;
   color: black;
   
 }

 h12{
 
   font-size: 20px;
   color: blue;
 }
 h13{
   font-size: 20px;
   color: black;
 }

 

 h14{
   font-size: 20px;
   color: black;
 }

 h15{   
   font-size: 20px;
   color: blue;


 }

 h16{
    font-size: 20px;
    color: blue;
 }


 h17{
   font-size: 20px;
   text-align: start;
   color: blue;

}

#京急路線図1{
  width: 20%;  
  }

#京急路線図2{
   width: 20%;
    
    }
  
#京急路線図3{
  width: 20%;
  
  }

  #京急路線図4{
    width: 20%;
    
    }
  

    #バス路線図3{
      width: 11%;
    
      }
  
     #バス路線図4{
      width: 7%;
        
      }

    

        #バス路線図1{
          width: 15%;
         align-self: self-end;
        
          }
      
      #バス路線図2{
     width: 20%;
     align-self: self-end;
            }
         
p{
  font-family: serif;
  font-size: 20px;
  color: rgba(16, 75, 184, 0.781);
  text-align: center;

}

#gugurumap{
  width: 5%;
}
h19{
  font-size: 25px;
  
 }
h20{
  font-size: 25px;
  color: rgb(0, 0, 0);
 
 }
 h21{
  font-size: 25px;
  color: crimson;
  
 }
 
 
 
 h22{
  font-size: 25px;
  color: blue;
}

 
 h23{
    font-size: 25px;
    color: green;
   
}
   
  h24{
    font-size: 25px;
    color: orange;
   
   }
  h25{
    font-size: 25px;
  
   }
   
   
   
   
  h26{
    font-size: 25px;
    color:rgb(60, 255, 0);
   
  
   }

   #clock {
    font-size: 60px;
    font-weight: bold;
    color: rgb(161, 136, 24);
   font-family: 'Times New Roman', Times, serif;
    
} 
#京急運賃{

  width: 60%;
   }
#横須賀線運賃{

  width: 60%;
   }

/*mdn*/
table {
  border-collapse: collapse;
  border: 4px solid rgb(61, 61, 61);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}

caption {
  caption-side: bottom;
  padding: 6px;
  font-weight: bold;
}

thead,
tfoot {
background-color: rgb(8, 8, 8); 
}

th,
td {background-color: rgb(226, 226, 226);

}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
background-color: rgb(10, 10, 10)
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

@media screen and (max-width: 479px){
  #pc {
    display: none;
  }
  #sp{
    display: block;
  }
  h1{
    font-size: 36px;
  }
  #sh{
    display:none;
  }
}




